/* BookDrager.css */

.container {
  padding: 20px;
}

.sideby {
  display: flex;
  gap: 20px;
}

.droppable {
  width: 200px;
  min-height: 300px;
  padding: 10px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  position: relative; /* Ensure the placeholder is positioned correctly */
  transition: background-color 0.3s ease;
}

.droppable.is-over {
  background-color: #105910; /* Highlight color when active */
}

.droppable h2 {
  text-align: center;
}

.column-placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #888;
  font-size: 16px;
  text-align: center;
  pointer-events: none; /* Ensure the placeholder does not interfere with drag-and-drop */
}

.sortable-item {
  background-color: rgb(133, 38, 38);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sortable-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.sortable-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.sortable-item-name {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
}