
.gray-square {
  width: 100px;
  height: 100px;
  background-color: gray;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  cursor: grab;
}
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  justify-content: Top;
  padding: 20px;
  margin-top: 30px;
  gap: 5px;
  width: 400px;
}

.sortable-item-input {
  width: 250px;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  margin-top: 164px;

}

.sortable-item-input:focus {
  border-bottom: 2px solid #007bff;
}